Git:
  enabled: true
  RefBranch: master
  remoteType: gitea
  remoteURL: ""
  remoteCreatePR: gitea
  remoteToken

LoggerOption
  level: INFO

remoteCustomOption:
- contain: ghcr
  options:
    username: toto
    password: githubpat

- contain: consul
  options:
    insecureTLS: true

